form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10px auto;
}

form label{
    font-weight: bold;
    margin: 10px;
    font-size: 20px;
}
form input,
form textarea {
    font-size: medium !important;  
    padding: 10px 15px;
    border-radius: 15px;
    background-color: antiquewhite;
    border: none;
    margin-bottom: 10px;
    color: rgb(25, 115, 145);
    font-family: inherit;
    font-weight: bold;
}


.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

form button{
    border: none;
    background-color: blue;
    color: azure;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: medium;
}

#cancel{
    background-color: red;
}