.list{
    display: flex;
    width: 50%;
    margin: 15px auto;
    justify-content: center;
}
.list input{
    border: 1px solid rgb(237, 229, 224);
    border-radius: 5px;
    font-size: medium;
    padding: 5px 10px;
}
.desc{
    text-align: center;
}
h3{
    margin:10px;
}