.todo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
    width: 400px;
    font-size: medium;
    font-weight: 500;
}
.todo button{
    padding: 6px 11px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.todo button.delete{
    background-color: #dc3545;
}
.todo button.delete:hover{
    background-color: #c82333;
}

.todo button:hover{
    background-color: #0056b3;
}
.todo input[type="checkbox"]{
    margin-right: 10px;
    height: 20px;
    width: 20px;
}
.todo input[type="text"]{
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: medium;
    font-weight: 500;
}
.todo input[type="text"]:focus{
    outline: none;
    border-color: #007bff;
}
