# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
debug.log*
log.txt

# Build files
build/
dist/
.DS_Store

# Editor directories
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
Thumbs.db
.DS_Store

# Server-specific files
/.cache
/out/
.next/
.vercel/
.netlify/

# MongoDB database files
/data/db/
dump/

# Uploads (if any)
uploads/

# Coverage files
coverage/
.nyc_output/
